* {
  box-sizing: border-box;
}

body {
  width: 350px;
  min-height: 700px;
}
ul {
  list-style: none;
  padding: 0;
}

.line {
  display: inline-block;
  position: absolute;
  z-index: 1;
  background-color: #e4e8eb;
}
.hor {
  height: 1px;
  width: 100%;
}
.ver {
  width: 1px;
  height: 100%;
}

#i_search {
  height: 25px;
  margin: 3px;
  width: 2px;
  background-color: black;
}

#i_keyword {
  left: 92px;
  margin: 25px 0px;
  height: 355px;
}

.title {
  height: 50px;
}
.title h1 {
  display: inline-block;
  margin: 0;
}
#logo {
  width: 200px;
  height: 50px;
  float: left;
  background-image: url(./images/logo.png);
  background-size: 200px 50px;
  cursor: pointer;
}

#videoDiv {
  height: 220px;
  flex-direction: column;
  line-height: 1;
}
#videoInputBar > #videoSrc {
  width: 80%;
  display: none;
}
#videoSrc > h4 {
  margin: 5px;
}

.inputBox {
  display: flex;
  justify-content: center;
  height: 35px;
  margin: 5px 0 10px 0;
}
.inputBox > div {
  border: 2px solid black;
  border-radius: 35px;
  padding-left: 15px;
  width: 95%;
}
.inputBox input {
  display: inline-block;
  border: none;
  width: 85%;
  height: 30px;
}
.inputBox input:focus {
  outline: none;
}
.inputBox button {
  width: 20%;
}

#output {
  border: 0px;
  padding: 0;
  height: 0px;
}

#videoContainer {
  height: 200px;
  margin: 0px 10px;
  background-color: #aaaaaa;
}
#blankVideo {
  cursor: pointer;
}
#icon {
  width: 140px;
  height: 160px;
  margin: auto;
  background: url(./images/icon.png) center no-repeat;
  background-size: 140px 140px;
}
#clickText {
  text-align: center;
  font-size: 16px;
  font-family: arial;
  font-weight: bold;
  color: #eeeeee;
  margin-top: 5px;
}

#video {
  width: 330px;
  height: 200px;
  display: none;
}

#contents {
  padding-left: 15px;
}

#search_icon {
  width: 30px;
  height: 30px;
  background: url(./images/search_icon.png) center no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  cursor: pointer;
}

.keywordListsComponent div {
  display: inline-block;
}
#keywordLists {
  height: 350px;
  overflow-y: auto;
}
.timestamp {
  width: 20%;
  margin-right: 5%;
  vertical-align: top;
  cursor: pointer;
}
.keyword {
  width: 70%;
}
