node_modules
dist/*
*.log
d3ab76cd8454.json
5babea53e123.json
*.m4a
*.wav

# node_modules => node_modules 디렉토리를 무시한다. 즉, 하위 모든 리소스를 무시한다. 
# app/dist/* => app 디렉토리 안의 dist 디렉토리의 하위 모든 리소스를 무시한다. 
# *.log => 모든 log 파일들을 무시한다.
